<!DOCTYPE html>
<html lang="en">
<head>


</head>
<body>

  <div class="bar">
    <div class="logo">
      <label for="rooms"> Check Our Rooms   </label>
    <br><br>

  <ul>
    <li><a routerLink="/rooms" class="link">Back</a></li>
    <li><a routerLink="/room1" class="link">standard double room</a></li>
    <li><a routerLink="/room2" class="link">Superior Rooms With Balcony</a></li>
    <li><a routerLink="/room3" class="link">Junior Suites</a></li>
    <li><a routerLink="/room4" class="link">Urban Suite</a></li>
    <li><a routerLink="/room5" class="link">Urban Suite with Private Patio & Jacuzzi</a></li>
    <li><a routerLink="/room6" class="link">Two-Bedroom Family Suite with Balcony</a></li>
    <li><a routerLink="/room7" class="link">Acropolis Loft</a></li>
    <li><a routerLink="/room8" class="link">Deluxe Suite with Acropolis View & Terrace</a></li>

  </ul>

</div>
</div>
<br>
<br>
<br>



<p class="class1">Two-Bedroom Family Suite with Balcony</p>
                     <p class="class2">The two-bedroom family suite with balcony (35m2/376ft2) accommodates up to 5 guests, features a queen size bed, triple bunk beds, desk, double sink, shower and a 40' Smart TV with a balcony and city view. Complimentary WiFi, espresso, and tea.<br>
                        The two-bedroom family suite with balcony follows an open design concept which creates a feeling of connection.<br> The children's room features colorful bunk beds and alphabet wallpaper and is connected by an open hallway to a room featuring decorative wallpaper and cement tiles accented by
                         locally handcrafted furniture.<br> Our designers thoughtful details foster a personalized experience making you feel at home. The room's balcony is ideal to relax enjoying the sunny Athenian weather.</p>
                         <img src="../assets/images/52.jpg" class="image2"/><img src="../assets/images/53.jpg" class="image3"/>
                         <img src="../assets/images/54.jpg" class="image4"/><br>
                         <p class="class2">Air Conditioning | Bath Amenities | Bathrobes and Slippers | Bathroom with Shower | Central Heating | Coffee Facilities (Nespresso Capsules included) <br>
                            | Daily Maid Service | Direct dial telephone | Electronic Locks | Flat Screen TV | Guest Laundry <br>| Hairdryer | Iron & Ironing Board | Mini-Bar | Modern Furnishing | Movie & Sport Channels | Non-smoking rooms available | Safe Deposit Box | Soundproof Windows | Wi-Fi Internet Access (free of charge)</p>
                            <img src="../assets/images/Two bedrooms Family.jpg" class="image7"/> <img src="../assets/images/58.jpg" class="image8"/>
                            <img src="../assets/images/55.jpg" class="image8"/><br><br><br>
                            <img src="../assets/images/56.jpg" class="image7"/> <img src="../assets/images/57.jpg" class="image8"/>
                             <img src="../assets/images/59.jpg" class="image8"/>
                             <br><br><br><br><br><br>

                             <img src="../assets/images/Acropolis Loft1.jpg"  class="image1"/>
