.image1{
  width:100%;
  height:700px;
  }

  .navbar{
    text-align: center;
    font-size: 36px;
  }

  .class1{
      font-family: Georgia;
      text-align: center;
      font-size: 50px;
      color:rgb(95, 94, 94);
  }
  .class2{
      text-align: center;
      font-family:monospace;
      text-align: center;
      font-size: 16px;
      color:rgb(104, 104, 104) ;

  }
  .image2{
      width:430px;
      height:600px;
      margin-right: 50px;
      margin-left: 25px;
  }
  .image3{
      width:430px;
      height:600px;
      margin-right: 50px;

  }
  .image4{
      width:430px;
      height:600px;


  }
  .image5{
      width:320px;
      height:210px;
      margin-left: 40px;
  }
  .image6{
      width:320px;
      height:210px;
      margin-left: 30px;
  }

  .image7{
      width:450px;
      height:310px;
      margin-left: 20px;
  }
  .image8{
      width:450px;
      height:310px;
      margin-left: 30px;
  }

  .bar{
    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    margin-top: 15px;
  }

  .logo{
    color:rgb(95, 94, 94);
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 5px;
    font-family: Georgia;
      text-align: center;
      font-size: 50px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #eee;
  }
  li {
    font-weight: bold;
    margin-right: 1rem;
    font-size: 1.1rem;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.5rem;
  }
  a {
    text-decoration: none;
  }
  .link:hover {
    color:#ff7200;
  }
  
  .link {
    color: black;
  }
