<!DOCTYPE html>
<html lang="en">
<head>


</head>
<body>

  <div class="bar">
    <div class="logo">
      <label for="rooms"> Check Our Rooms   </label>
    <br><br>

  <ul>
    <li><a routerLink="/rooms" class="link">Back</a></li>
    <li><a routerLink="/room1" class="link">standard double room</a></li>
    <li><a routerLink="/room2" class="link">Superior Rooms With Balcony</a></li>
    <li><a routerLink="/room3" class="link">Junior Suites</a></li>
    <li><a routerLink="/room4" class="link">Urban Suite</a></li>
    <li><a routerLink="/room5" class="link">Urban Suite with Private Patio & Jacuzzi</a></li>
    <li><a routerLink="/room6" class="link">Two-Bedroom Family Suite with Balcony</a></li>
    <li><a routerLink="/room7" class="link">Acropolis Loft</a></li>
    <li><a routerLink="/room8" class="link">Deluxe Suite with Acropolis View & Terrace</a></li>

  </ul>

</div>
</div>
<br><br><br>



<p class="class1">Superior Rooms With Balcony</p>
<p class="class2">Our superior rooms with balcony (20m2/215ft2) feature king or queen size bed, desk, double or single sink, shower, a 40' Smart TV with a balcony and city view. Complimentary WiFi, espresso, and tea.<br>
    Our superior rooms with balcony feature original design elements establishing a unique identity. A combination of decorative wallpaper and red-brick produce an interesting
     contrast and are brought together by locally handcrafted furniture. Our designers thoughtful details foster a personalized experience making you feel at home while the rooms balcony allow our guests to relax enjoying sunny Athens.</p>
     <img src="../assets/images/18.jpg" class="image2"/><img src="../assets/images/19.jpg" class="image3"/>
     <img src="../assets/images/20.jpg" class="image4"/><br>
     <p class="class2">Air Conditioning | Bath Amenities | Bathrobes and Slippers | Bathroom with Shower | Central Heating | Coffee Facilities (Nespresso Capsules included) |<br> Daily Maid Service | Direct dial telephone | Electronic Locks |
         Flat Screen TV | Guest Laundry | Hairdryer | Iron & Ironing Board | Mini-Bar | Modern Furnishing | Movie & Sport Channels
        | Non-smoking rooms available | Safe Deposit Box | Soundproof Windows | Wi-Fi Internet Access (free of charge)</p>
        <img src="../assets/images/superior rooms with balcony.jpg" class="image5"/> <img src="../assets/images/21.jpg" class="image6"/><img src="../assets/images/22.jpg" class="image6"/>
<img src="../assets/images/23.jpg" class="image6"/><br><br><br>
<img src="../assets/images/25.jpg" class="image5"/><img src="../assets/images/24.jpg" class="image6"/>
<img src="../assets/images/27.jpg" class="image6"/>
<img src="../assets/images/26.jpg" class="image6"/>
<br><br><br><br><br><br>
<img src="../assets/images/Junior suites.jpg"  class="image1"/>
