<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Contact Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Contact Us</h1>
      <form action="https://formsubmit.co/saif04dridi@gmail.com" #myForm="ngForm" (ngSubmit)="onSubmit()">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="Contact.name" id="name" name="name" required>
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="Contact.email" id="email" name="email" required>
        <label for="subject">Subject</label>
        <input type="text" [(ngModel)]="Contact.subject" id="subject" name="subject" required>
        <label for="message">Message</label>
        <textarea [(ngModel)]="Contact.message" id="message" name="message" required></textarea>
        <input type="submit" value="Send">
      </form>
      <div class="contact-info">
        <ul>
          <li><i class="fas fa-map-marker-alt"></i>196 Rue Elbarakat ,Zone Touristique,Mahdia </li>
          <li><i class="fas fa-phone"></i>24100568</li>
          <li><i class="fas fa-envelope"></i>HotelBooking@gmail.com</li>
        </ul>
      </div>
    </div>
  </body>
</html>
