div
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 420px;

}
div a{
    background-color: white;
    padding: 0px  13px;
    margin:  .15rem;
    border-radius: 10rem;
    color: #ff7200;
    font-weight: bold;


}
