<HTml>
  <body>
    <br>
    <h2 >Book A Room</h2>
  
    <br>
    <div class="InputBox">
      <input type ="text" name="nom" required >
      <span>Name </span>
      </div>
    
      <div class="InputBox">
        <input type ="text"  name="Email" required>
        <span>Email </span>
        </div>
       
        <div class="InputBox">
          <input type ="text"  name="phone" required >
          <span>Phone </span>
          </div>
         
          <div class="InputBox">
            <input type ="text"  name="Check-in" required >
            <span>Check-in </span>
            </div>
           
            <div class="InputBox">
              <input type ="text"  name="Check-out" required >
              <span>Check-out </span>
              </div>
            
              <div class="InputBox">
                <input type ="text"  name="Number" required >
                <span>Number of Guests </span>
                </div>
               
                <div class="InputBox">
                  <input type ="text"  name="Room" required>
                  <span>Room Type </span>
                  </div>
               
                  <button type="submit" >Submit</button>
              <br>
                
  </body>
    </HTml> 
  
  
  