<HTml>
  <body>
    <br>
    <h2 >Book A Room</h2>


    <form action="https://formsubmit.co/saif04dridi@gmail.com" method="POST" #myForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="InputBox">
      <input type ="text"  [(ngModel)]="Reservation.name" name="nom" required >
      <span>Name </span>
      </div>

      <div class="InputBox">
        <input type ="text" [(ngModel)]="Reservation.email" name="Email" required>
        <span>Email </span>
        </div>

        <div class="InputBox">
          <input type ="text" [(ngModel)]="Reservation.phone"  name="phone" required >
          <span>Phone </span>
          </div>

          <div class="InputBox">
            <input type ="text" [(ngModel)]="Reservation.check_in" name="Check-in" required >
            <span>Check-in </span>
            </div>

            <div class="InputBox">
              <input type ="text" [(ngModel)]="Reservation.check_out" name="Check-out" required >
              <span>Check-out </span>
              </div>

              <div class="InputBox">
                <input type ="text" [(ngModel)]="Reservation.number_guests"  name="Number" required >
                <span>Number of Guests </span>
                </div>

                <div class="InputBox">
                  <input type ="text" [(ngModel)]="Reservation.room_type" name="Room" required>
                  <span>Room Type </span>
                  </div>

                  <button type="submit" >Submit</button>
                </form>


  </body>
    </HTml>


