<!DOCTYPE html>
<html lang="en">
<head>


</head>
<body>

  <div class="bar">
    <div class="logo">
      <label for="rooms"> Check Our Rooms   </label>
    <br><br>

  <ul>
    <li><a routerLink="/rooms" class="link">Back</a></li>
    <li><a routerLink="/room1" class="link">standard double room</a></li>
    <li><a routerLink="/room2" class="link">Superior Rooms With Balcony</a></li>
    <li><a routerLink="/room3" class="link">Junior Suites</a></li>
    <li><a routerLink="/room4" class="link">Urban Suite</a></li>
    <li><a routerLink="/room5" class="link">Urban Suite with Private Patio & Jacuzzi</a></li>
    <li><a routerLink="/room6" class="link">Two-Bedroom Family Suite with Balcony</a></li>
    <li><a routerLink="/room7" class="link">Acropolis Loft</a></li>
    <li><a routerLink="/room8" class="link">Deluxe Suite with Acropolis View & Terrace</a></li>

  </ul>

</div>
</div>
<br>
<br>
<br>


  <p class="class1">Standard Double Rooms</p>
<p class="class2">Our standard rooms (20m2 /215ft2) accommodate up to 2 guests, feature a king size bed, desk, single or double sink, shower and a 40' Smart TV with city view. Complimentary WiFi, espresso, and tea.<br>
    Our standard rooms play with masculine and feminine design elements to create a calm and welcoming atmosphere. A combination of decorative wallpaper and cement or brick are accented<br>
     by locally handcrafted furniture and industrial-style windows. Our designers thoughtful details in each room foster a personalized experience making you feel at home.</p>
    <img src="../assets/images/4.jpg" class="image2"/><img src="../assets/images/5.jpg" class="image3"/>
    <img src="../assets/images/6.jpg" class="image4"/><br>
    <p  class="class2">Air Conditioning | Bath Amenities | Bathrobes and Slippers | Bathroom with Shower | Central Heating | Coffee Facilities (Nespresso Capsules included) |
         Daily Maid Service |<br> Direct dial telephone | Electronic Locks | Flat Screen TV | Guest Laundry | Hairdryer | Iron & Ironing Board | Mini-Bar | Modern Furnishing | Movie & Sport Channels | Non-smoking rooms available | Safe Deposit Box | Soundproof Windows | Wi-Fi Internet Access (free of charge)</p>
    <br><br>
    <img src="../assets/images/7.jpg" class="image5"/><img src="../assets/images/8.jpg" class="image6"/>
    <img src="../assets/images/9.jpg" class="image6"/>
    <img src="../assets/images/10.jpg" class="image6"/><br><br><br>
    <img src="../assets/images/standard double rooms.jpg"  class="image5"/><img src="../assets/images/11.jpg" class="image6"/>
    <img src="../assets/images/12.jpg" class="image6"/><img src="../assets/images/13.jpg" class="image6"/>
    <br><br><br>
    <img src="../assets/images/14.jpg" class="image5"/><img src="../assets/images/15.jpg" class="image6"/>
    <img src="../assets/images/16.jpg" class="image6"/><img src="../assets/images/17.jpg" class="image6"/>
    <br><br><br><br><br><br>
    <section id="section1">
    <img src="../assets/images/superior rooms with balcony.jpg"  class="image1"/>


