div{
    display: flex;
    justify-content: center;
    margin-top: 0.8em;
  }
  div input{
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: 20rem;
    background-color:rgba(255, 255, 255, 0.696);
    font-size: 1rem;
    font-weight: 500;
    padding-left:2em;
  
  }
  div button{
    color: #ff7200;
    height: 3.2rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 1rem 1rem 0;
    border-color: white;
    background-color: white;
  }