<!DOCTYPE html>
<html lang="en">
<head>


</head>
<body>

<div class="bar">
  <div class="logo">
  <label for="rooms"> Check Our Rooms   </label>
  <br> <br>

  <ul>
    <li><a routerLink="" class="link">Home</a></li>
    <li><a routerLink="/room1" class="link">standard double room</a></li>
    <li><a routerLink="/room2" class="link">Superior Rooms With Balcony</a></li>
    <li><a routerLink="/room3" class="link">Junior Suites</a></li>
    <li><a routerLink="/room4" class="link">Urban Suite</a></li>
    <li><a routerLink="/room5" class="link">Urban Suite with Private Patio & Jacuzzi</a></li>
    <li><a routerLink="/room6" class="link">Two-Bedroom Family Suite with Balcony</a></li>
    <li><a routerLink="/room7" class="link">Acropolis Loft</a></li>
    <li><a routerLink="/room8" class="link">Deluxe Suite with Acropolis View & Terrace</a></li>

  </ul>
</div>
</div>
<br>
<br>
<br>


      <section id="section1">
<img src="../assets/images/standard double rooms.jpg"  class="image1"/>
<br>


