<!DOCTYPE html>
<html lang="en">
<head> 
</head>
<body>
<img src="../assets/images/standard double rooms.jpg"  class="image1"/>
<br>
<p class="class1">Standard Double Rooms</p>
<p class="class2">Our standard rooms (20m2 /215ft2) accommodate up to 2 guests, feature a king size bed, desk, single or double sink, shower and a 40' Smart TV with city view. Complimentary WiFi, espresso, and tea.<br>
    Our standard rooms play with masculine and feminine design elements to create a calm and welcoming atmosphere. A combination of decorative wallpaper and cement or brick are accented<br>
     by locally handcrafted furniture and industrial-style windows. Our designers thoughtful details in each room foster a personalized experience making you feel at home.</p>
    <img src="../assets/images/4.jpg" class="image2"/><img src="../assets/images/5.jpg" class="image3"/>
    <img src="../assets/images/6.jpg" class="image4"/><br>
    <p  class="class2">Air Conditioning | Bath Amenities | Bathrobes and Slippers | Bathroom with Shower | Central Heating | Coffee Facilities (Nespresso Capsules included) |
         Daily Maid Service |<br> Direct dial telephone | Electronic Locks | Flat Screen TV | Guest Laundry | Hairdryer | Iron & Ironing Board | Mini-Bar | Modern Furnishing | Movie & Sport Channels | Non-smoking rooms available | Safe Deposit Box | Soundproof Windows | Wi-Fi Internet Access (free of charge)</p>
    <br><br>
    <img src="../assets/images/7.jpg" class="image5"/><img src="../assets/images/8.jpg" class="image6"/>
    <img src="../assets/images/9.jpg" class="image6"/>
    <img src="../assets/images/10.jpg" class="image6"/><br><br><br>
    <img src="../assets/images/standard double rooms.jpg"  class="image5"/><img src="../assets/images/11.jpg" class="image6"/>
    <img src="../assets/images/12.jpg" class="image6"/><img src="../assets/images/13.jpg" class="image6"/>
    <br><br><br>
    <img src="../assets/images/14.jpg" class="image5"/><img src="../assets/images/15.jpg" class="image6"/>
    <img src="../assets/images/16.jpg" class="image6"/><img src="../assets/images/17.jpg" class="image6"/>
    <br><br><br><br><br><br>
    <img src="../assets/images/superior rooms with balcony.jpg"  class="image1"/>
    <p class="class1">Superior Rooms With Balcony</p>
    <p class="class2">Our superior rooms with balcony (20m2/215ft2) feature king or queen size bed, desk, double or single sink, shower, a 40' Smart TV with a balcony and city view. Complimentary WiFi, espresso, and tea.<br>
        Our superior rooms with balcony feature original design elements establishing a unique identity. A combination of decorative wallpaper and red-brick produce an interesting
         contrast and are brought together by locally handcrafted furniture. Our designers thoughtful details foster a personalized experience making you feel at home while the rooms balcony allow our guests to relax enjoying sunny Athens.</p>
         <img src="../assets/images/18.jpg" class="image2"/><img src="../assets/images/19.jpg" class="image3"/>
         <img src="../assets/images/20.jpg" class="image4"/><br>
         <p class="class2">Air Conditioning | Bath Amenities | Bathrobes and Slippers | Bathroom with Shower | Central Heating | Coffee Facilities (Nespresso Capsules included) |<br> Daily Maid Service | Direct dial telephone | Electronic Locks |
             Flat Screen TV | Guest Laundry | Hairdryer | Iron & Ironing Board | Mini-Bar | Modern Furnishing | Movie & Sport Channels 
            | Non-smoking rooms available | Safe Deposit Box | Soundproof Windows | Wi-Fi Internet Access (free of charge)</p>
            <img src="../assets/images/superior rooms with balcony.jpg" class="image5"/> <img src="../assets/images/21.jpg" class="image6"/><img src="../assets/images/22.jpg" class="image6"/>
    <img src="../assets/images/23.jpg" class="image6"/><br><br><br>
    <img src="../assets/images/25.jpg" class="image5"/><img src="../assets/images/24.jpg" class="image6"/>
    <img src="../assets/images/27.jpg" class="image6"/>
    <img src="../assets/images/26.jpg" class="image6"/>
    <br><br><br><br><br><br>
    <img src="../assets/images/Junior suites.jpg"  class="image1"/>

    <p class="class1">Junior Suites</p>
    <p class="class2">Our junior suites (25-30m2 / 270-323ft2) accommodate up to 3 guests, feature a king size bed, a sofa-bed, desk, single or double sink, shower, and a 40' Smart TV with city view. Complimentary WiFi, espresso, and tea.<br>
        Our junior suites feature an open design concept which creates a feeling of connection.<br> A combination of decorative wallpaper and cement or brick are accented by locally handcrafted furniture and industrial-style windows.
         Our designers thoughtful details in each room foster a personalized experience making you feel at home.</p>
         <img src="../assets/images/28.jpg" class="image2"/><img src="../assets/images/29.jpg" class="image3"/>
         <img src="../assets/images/30.jpg" class="image4"/><br>
         <p class="class2">Air Conditioning | Bath Amenities | Bathrobes and Slippers | Bathroom with Shower | Central Heating | Coffee Facilities (Nespresso Capsules included) <br>| Daily Maid Service |
             Direct dial telephone | Electronic Locks | Flat Screen TV | Guest Laundry | Hairdryer | Iron & Ironing Board | Mini-Bar | Modern Furnishing 
            | Movie & Sport Channels | Non-smoking rooms available | Safe Deposit Box | Soundproof Windows | Wi-Fi Internet Access (free of charge)</p>
            <img src="../assets/images/Junior suites.jpg" class="image5"/> <img src="../assets/images/31.jpg" class="image6"/>
            <img src="../assets/images/32.jpg" class="image6"/>
            <img src="../assets/images/34.jpg" class="image6"/><br><br><br>
            <img src="../assets/images/33.jpg" class="image5"/><img src="../assets/images/35.jpg" class="image6"/>
    <img src="../assets/images/36.jpg" class="image6"/>
    <img src="../assets/images/37.jpg" class="image6"/>
    <br><br><br><br><br><br>

    <img src="../assets/images/Urban Suite.jpg"  class="image1"/>
    <p class="class1">Urban Suite</p>
    <p class="class2">The urban suite (38m2/409ft2) accommodates up to 4 guests, features a king size bed, a sofa-bed, desk, sink, shower, and a 40' Smart TV with city view. Complimentary WiFi, espresso, and tea.<br>
        The urban suite features an open design concept which creates a feeling of connection. The combination of a red-brick wall and wallpaper posing as wooden panels produces an interesting contrast 
        and is complemented by locally handcrafted furniture.<br> Our designers thoughtful details foster a personalized experience making you feel at home.</p>
        <img src="../assets/images/38.jpg" class="image2"/><img src="../assets/images/39.jpg" class="image3"/>
         <img src="../assets/images/40.jpg" class="image4"/><br>
         <p class="class2">Air Conditioning | Bath Amenities | Bathrobes and Slippers | Bathroom with Shower | Central Heating | Coffee Facilities (Nespresso Capsules included) <br>| Daily Maid Service
             | Direct dial telephone | Electronic Locks | Flat Screen TV | Guest Laundry | Hairdryer | Iron & Ironing Board | Mini-Bar | Modern Furnishing 
            | Movie & Sport Channels | Non-smoking rooms available | Safe Deposit Box | Soundproof Windows | Wi-Fi Internet Access (free of charge)</p>
            <img src="../assets/images/Urban Suite.jpg" class="image7"/> <img src="../assets/images/41.jpg" class="image8"/>
            <img src="../assets/images/42.jpg" class="image8"/><br><br><br>
            <img src="../assets/images/43.jpg" class="image7"/> <img src="../assets/images/44.jpg" class="image8"/>
            <img src="../assets/images/45.jpg" class="image8"/>
            <br><br><br><br><br><br>
            
            <img src="../assets/images/Urban suite with private.jpg"  class="image1"/>
            <p class="class1">Urban Suite with Private Patio & Jacuzzi</p>
            <p class="class2">The urban suite with private patio and jacuzzi (31m2/333ft2) accommodates up to 3 guests, features a king size bed, a sofa-bed, desk, sink, shower, and a 40' Smart TV. Complimentary WiFi, espresso, and tea.<br>
                A combination of decorative wallpaper and handpicked decorative items produce an interesting contrast and are brought together by locally handcrafted furniture.<br> Our designers thoughtful details foster a personalized
                 experience making you feel at home while the private patio with the jacuzzi allow our guests to relax after a busy day exploring Athens.</p>
                 <img src="../assets/images/46.jpg" class="image2"/><img src="../assets/images/47.jpg" class="image3"/>
                 <img src="../assets/images/48.jpg" class="image4"/><br>
                 <p class="class2">Air Conditioning | Bath Amenities | Bathrobes and Slippers | Bathroom with Shower | Central Heating | Coffee Facilities (Nespresso Capsules included)<br>
                     | Daily Maid Service | Direct dial telephone | Electronic Locks | Flat Screen TV | Guest Laundry | Hairdryer <br>
                     | Iron & Ironing Board | Mini-Bar | Modern Furnishing | Movie & Sport Channels | Non-smoking rooms available | Safe Deposit Box | Soundproof Windows | Wi-Fi Internet Access (free of charge)</p>
                     <img src="../assets/images/Urban suite with private.jpg" class="image5"/> <img src="../assets/images/49.jpg" class="image6"/>
                     <img src="../assets/images/50.jpg" class="image6"/>
                     <img src="../assets/images/51.jpg" class="image6"/>
                     <br><br><br><br><br><br>

                     <img src="../assets/images/Two bedrooms Family.jpg"  class="image1"/>
                     <p class="class1">Two-Bedroom Family Suite with Balcony</p>
                     <p class="class2">The two-bedroom family suite with balcony (35m2/376ft2) accommodates up to 5 guests, features a queen size bed, triple bunk beds, desk, double sink, shower and a 40' Smart TV with a balcony and city view. Complimentary WiFi, espresso, and tea.<br>
                        The two-bedroom family suite with balcony follows an open design concept which creates a feeling of connection.<br> The children's room features colorful bunk beds and alphabet wallpaper and is connected by an open hallway to a room featuring decorative wallpaper and cement tiles accented by
                         locally handcrafted furniture.<br> Our designers thoughtful details foster a personalized experience making you feel at home. The room's balcony is ideal to relax enjoying the sunny Athenian weather.</p>
                         <img src="../assets/images/52.jpg" class="image2"/><img src="../assets/images/53.jpg" class="image3"/>
                         <img src="../assets/images/54.jpg" class="image4"/><br>
                         <p class="class2">Air Conditioning | Bath Amenities | Bathrobes and Slippers | Bathroom with Shower | Central Heating | Coffee Facilities (Nespresso Capsules included) <br>
                            | Daily Maid Service | Direct dial telephone | Electronic Locks | Flat Screen TV | Guest Laundry <br>| Hairdryer | Iron & Ironing Board | Mini-Bar | Modern Furnishing | Movie & Sport Channels | Non-smoking rooms available | Safe Deposit Box | Soundproof Windows | Wi-Fi Internet Access (free of charge)</p>
                            <img src="../assets/images/Two bedrooms Family.jpg" class="image7"/> <img src="../assets/images/58.jpg" class="image8"/>
                            <img src="../assets/images/55.jpg" class="image8"/><br><br><br>
                            <img src="../assets/images/56.jpg" class="image7"/> <img src="../assets/images/57.jpg" class="image8"/>
                             <img src="../assets/images/59.jpg" class="image8"/>
                             <br><br><br><br><br><br>

                             <img src="../assets/images/Acropolis Loft1.jpg"  class="image1"/>
                             <p class="class1">Acropolis Loft</p>
                             <p class="class2">A deluxe suite with acropolis view (25m2/270ft2 - split into two levels) accommodates up to 2 guests, features a king size bed, desk, single sink, shower, and a 40' Smart TV with a balcony and view to the acropolis.<br> Complimentary WiFi, espresso, and tea.
                                Uniquely decorated with handcrafted furniture and handpicked decorative items, this split-level loft opens to a spacious terrace with stunning views over the Acropolis.<br> Guests can also enjoy unique Acropolis view from their bed.</p>
                                <img src="../assets/images/60.jpg" class="image2"/><img src="../assets/images/61.jpg" class="image3"/>
                         <img src="../assets/images/62.jpg" class="image4"/><br>
                         <p class="class2">Air Conditioning | Bath Amenities | Bathrobes and Slippers | Bathroom with Shower | Central Heating | Coffee Facilities (Nespresso Capsules included) <br>| Daily Maid Service | Direct dial telephone | Electronic Locks | Flat Screen TV | Guest Laundry <br>
                            | Hairdryer | Iron & Ironing Board | Mini-Bar | Modern Furnishing | Movie & Sport Channels | Non-smoking rooms available | Safe Deposit Box | Soundproof Windows | Wi-Fi Internet Access (free of charge)</p>
                            <img src="../assets/images/Acropolis Loft.jpg" class="image7"/> <img src="../assets/images/64.jpg" class="image8"/>
                            <img src="../assets/images/67.jpg" class="image8"/><br><br><br>
                            <img src="../assets/images/66.jpg" class="image7"/> <img src="../assets/images/65.jpg" class="image8"/>
                             <img src="../assets/images/63.jpg" class="image8"/>
                             <br><br><br><br><br><br>

                             <img src="../assets/images/71.jpg"  class="image1"/>
                             <p class="class1">Deluxe Suite with Acropolis View & Terrace</p>
                             <p class="class2">The deluxe suite with acropolis view (28m2/302ft2) accommodates up to 2 guests, features a king size bed, desk, single sink, shower, and a 40' Smart TV with a balcony and view to Acropolis.<br> Complimentary WiFi, espresso, and tea.
                                The deluxe suite follows an open design concept creating a feeling of connection.<br> A combination of industrial wallpaper and white marble produce an interesting contrast and are elevated by copper fixtures.<br> 
                                Sunny natural light coming from the large balcony offers warmth. The private balcony enjoys stunning views of Acropolis. Our designers thoughtful details foster a personalized experience making you feel at home.</p>
                                <img src="../assets/images/68.jpg" class="image2"/><img src="../assets/images/69.jpg" class="image3"/>
                         <img src="../assets/images/70.jpg" class="image4"/><br>
                         <p class="class2">Air Conditioning | Bath Amenities | Bathrobes and Slippers | Bathroom with Shower | Central Heating | Coffee Facilities (Nespresso Capsules included) <br>
                            | Daily Maid Service | Direct dial telephone | Electronic Locks | Flat Screen TV | Guest Laundry<br>
                             | Hairdryer | Iron & Ironing Board | Mini-Bar | Modern Furnishing | Movie & Sport Channels | Non-smoking rooms available | Safe Deposit Box | Soundproof Windows | Wi-Fi Internet Access (free of charge)</p>
                             <img src="../assets/images/Deluxe suite.jpg" class="image5"/> <img src="../assets/images/74.jpg" class="image6"/>
                             <img src="../assets/images/72.jpg" class="image6"/>
                             <img src="../assets/images/73.jpg" class="image6"/>
                             <br><br><br>
                      <img src="../assets/images/76.jpg" class="image5"/><img src="../assets/images/75.jpg" class="image6"/>
                          <img src="../assets/images/79.jpg" class="image6"/>
                              <img src="../assets/images/77.jpg" class="image6"/>
                            </body>
